{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="category-head">

    <div class="container">
        <div class="category-head__wrapper">
            <div class="category-head__back">
                <a href="{{ global.page.back_url }}" class="link">
                    <span class="link__icon">{{ Svg.icon('arrow-left', 1) }}</span>
                    <span class="link__text">Назад</span>
                </a>
            </div>
            {% if global.page.breadcrumbs %}
            <div class="category-head__breadcrumbs">
                {% include 'frontend/components/breadcrumbs/breadcrumbs.twig' %}
            </div>
            {% endif %}
{#            <div class="category-head__main">#}
{#                {% if global.page.title %}#}
{#                    <h1 class="category-head__title">{{ global.page.title }}</h1>#}
{#                {% endif %}#}
{#            </div>#}
        </div>
    </div>
</div>
