{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
{% import 'frontend/elements/input/input_macro.twig' as Input %}
<div id="modal_city" class="modal mfp-hide white-popup">
  <div class="modal__wrapper">
    <div class="modal__head">
      <div class="modal__title">Выбрать локацию</div>
      <div class="modal__close">
        <div class="btn btn_xxs js-modal-close">
          <div class="btn__icon">{{ Svg.icon('close', 1) }}</div>
        </div>
      </div>
    </div>
    <div class="modal__body">
      <div class="modal__form form">
        <div class="modal__search">
          <div class="modal-search">
            <div class="modal-search__input">
              {{ Input.field('search_city', {
                label: 'Начните вводить',
                icon: 'search',
                classes: 'filter-cities'
              }) }}
            </div>
            <div class="modal-search__wrapper">
              <div class="modal-search__list">
                {% for city in global.cities %}
                  <div class="modal-search__item">
                    <div class="check-btn">
                      <input type="radio" name="rr_city" value="{{ city.city_id }}" data-name="{{ city.city_title }}" class="cbs" {% if city.city_id==global.default_city.city_id %}checked{% endif %}>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal__bottom">
          <div class="modal__button">
            <div class="button button_md button_primary submit-city">
              <div class="button__text">да, моя локация</div>
            </div>
          </div>
          <div class="modal__button">
            <div class="button button_md button_outline_1 cancel-city">
              <div class="button__text">выбрать другую</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
