<div class="section">
  <div class="section__title">
    {% include 'frontend/components/screen-title/screen-title.twig' with {
      title: 'Почему Taxel',
      descr: 'Кратко о главных достоинствах'
    } %}
  </div>
  <div class="section__content">
    <div class="container">
      {% include 'frontend/components/skills-block/skills-block.twig' %}
    </div>
  </div>
</div>