{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="user-profile">
  <div class="container">
    <div class="user-profile__list">
      <div class="user-profile__item">
        {% include 'frontend/components/profile-settings/settings_1.twig' %}
      </div>
      <div class="user-profile__item">
        {% include 'frontend/components/profile-settings/settings_2.twig' %}
      </div>
      <div class="user-profile__item">
        {% include 'frontend/components/profile-settings/settings_3.twig' %}
      </div>
      <div class="user-profile__item">
        {% include 'frontend/components/profile-settings/settings_4.twig' %}
      </div>
      <div class="user-profile__item">
        {% include 'frontend/components/profile-settings/settings_5.twig' %}
      </div>
    </div>
  </div>
</div>