.breadcrumbs {
  &__list {
    display: flex;
  }

  &__item {
    @extend %flex-middle;

    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
  &__span{
    color: $color__gray--1;

  }
  &__link {
    display: block;
    padding: 3px 3px;
    border-bottom: 1px solid $color__gray--1;
    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.1;
      color: $color__gray--1;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  &__line {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color__gray--1;
    margin-left: 10px;
  }
}