.park-thumb {
  $root: &;
  border-radius:15px;
  height: 500px;
  box-shadow: 10px 10px 24px -1px rgba(0,0,0,0.75);

  .badge_park {
    background: rgba(100,207,207,.7);
    color: whitesmoke;
    border-radius: 3px;
  }
  .park-thumb:hover, .park-thumb__content:hover {
    background: linear-gradient(260deg,rgba(100,207,207,.7) 0,#2e1a37 100%);
    .park-thumb__center{
      opacity: 1;
      display: block;
    }

    &:before {
      background-color: $color__primary--lightest;
    }

    &:after {
      opacity: 1;
    }
    .badge_park{
      opacity: 0;
    }
    .park-thumb__bottom
    {
      opacity: 0;
    }
  }

  &:after {
    content: '';
    z-index: 12;
    background: $color__light;
    opacity: 0;
    border-radius: 15px;
    overflow: hidden;
    @include transitions(opacity);
  }
  &__center{
    $root: &;
    opacity: 0;
    height: 60%;
    border-radius: 15px;
    padding: 0 40px;
    display: none;
    color: whitesmoke;
    transition: all 1s;
    &_title
    {
      color: whitesmoke;
      text-align: center;
      font-size: 24px;
      margin-bottom: 40px;
    }
    &_item{
      color: whitesmoke;
      line-height: 30px;
      strong{
        font-weight: bold;
        color: #4ddbca;
        margin-right: 7px;
      }

    }
    &_button{
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .button{
        width: 70%;
        padding: 10px 10px;
      }
    }

  }
  &__content,
  &__image {
    @extend %absolute-full;

    border-radius: 15px;
    overflow: hidden;
  }

  &__image {
    background: linear-gradient(180deg, rgba(38, 36, 37, 0.1) 0%, rgba(38, 36, 37, 0.3) 100%), #77798C;

    &:before {
      content: '';
      background: linear-gradient(180deg, rgba(38, 36, 37, 0.1) 0%, rgba(38, 36, 37, 0.3) 100%);
      @extend %absolute-full;
      @include size(100%);
      opacity: .1;
      @include transitions(opacity);
    }

    img {
      @include object-fit(cover);
      @include size(100%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    z-index: 1;
    background: none;
    transition: background 2s;
  }

  &__head {
    @extend %flex-center-between;
  }

  &__title {
    color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
  }

  &__feature {
    @extend %flex-middle;
    &-icon {
      flex: 0 0 20px;
      @include size(20px);
      margin-right: 4px;
    }

    &-value {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.45;
      color: $color__light;
    }
  }
}