{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
{% import 'frontend/elements/input/input_macro.twig' as Input %}
<footer class="footer">
    <div class="footer__wrapper">
      <div class="footer__main">
        <div class="container">
          <div class="column">
              <div class="footer__title">
                Контактая информация:
              </div>
              <div class="footer__content__contacts">
                  <div class="content_item">
                    <div class="item__label">Телефоны для связи:</div>
                    <div class="item__item">+7(978)07 28 194</div>
                    <div class="item__item">+7(978)07 28 194</div>
                  </div>
                  <div class="content_item">
                    <div class="item__label">Электронная почта:</div>
                    <div class="item__item">info@transugclimea.ru:</div>
                  </div>
                  <div class="content_item">
                    <div class="item__label">Наш адрес:</div>
                    <div class="item__item">г. Симферополь, ул. Пушкина д.1</div>
                  </div>
                  <div class="content_item">
                    <div class="item__label">Режим работы:</div>
                    <div class="item__item">Пн-Пт: 09:00 - 19:00</div>
                    <div class="item__item">Сб-Вс: 09:00 - 13:00</div>
                  </div>

              </div>
          </div>
          <div class="column">
            <div class="footer__title">
              Меню сайта:
            </div>
            <div class="footer__content">
              <div class="content_item">
                <div class="item__item">Главная</div>
                <div class="item__item">Тарифы</div>
                <div class="item__item">Блог</div>
                <div class="item__item">Партнерам</div>
                <div class="item__item">Аренда</div>
                <div class="item__item">О нас</div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom-list">
            <div class="footer__copy">
              <div class="footer__copy-text">{% if "now"|date("Y")!=2019%}{{ "now"|date("Y") }}{% endif %} © {{ global.fields.about.about_copy}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
