<div class="order-screen">
  <div class="container">
    <div class="order-screen__wrapper">
      <div class="order-screen__main">
        {% include 'frontend/components/user-profile/user-profile_detail.twig' %}
      </div>
      <div class="order-screen__side">
        <div class="order-screen__side-block">
          {% include 'frontend/components/user-profile/user-profile_sale.twig' %}
        </div>
        <div class="order-screen__side-block">
          {% include 'frontend/components/user-profile/user-profile_history.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>