{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="cook-message cook-message_2" data-mess-id="reg">
  <div class="container">
    <div class="cook-message__wrapper">
      <div class="cook-message__logo">
        <div class="cook-message__img"></div>
      </div>
      <div class="cook-message__text">Оплачивай поездки онлайн и получай скидку 50% на каждую пятую поездку!</div>
      <div class="cook-message__btn">
        <div class="cook-message__close js-line-mess">
          {{ Svg.icon('close', 1) }}
        </div>
      </div>
    </div>
  </div>
</div>