<div class="cook-message" data-mess-id="cookie">
    <div class="container">
        <div class="cook-message__wrapper">
            <div class="cook-message__logo">
                <div class="cook-message__img"></div>
            </div>
            <div class="cook-message__text">Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его лучше. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов cookie.</div>
            <div class="cook-message__btn">
                <div class="button button_sm button_tertiary js-line-mess">
                    <div class="button__text">хорошо</div>
                </div>
            </div>
        </div>
    </div>
</div>