.about-block {
  &__wrapper {
    @extend %med-container;
  }

  &__logo,
  &__text,
  &__skills {
    margin-bottom: 40px;
  }

  &__logo {
    .logo {
      &__block {
        width: 400px;
        flex: 0 0 400px;
        height: 80px;
        margin: 0 auto;

        img {
          @include object-fit(cover);
          @include size(100%);
        }
      }
    }
  }

  &__skills {
    .skills-block {
      &__item {
        display: block;
        width: (100%/3);
      }
    }
  }

  @include media('<=1200px') {
    &__logo,
    &__text,
    &__skills {
      margin-bottom: 32px;
    }

    &__skills {
      .skills-block {
        &__list {
          margin: -12px -8px;
        }

        &__item {
          padding: 12px 8px;
        }
      }
    }
  }

  @include media('<md') {
    &__logo,
    &__text,
    &__skills {
      margin-bottom: 24px;
    }

    &__logo {
      .logo {
        &__block {
          width: 232px;
          flex: 0 0 232px;
          height: 46px;
        }
      }
    }

    &__skills {
      .skills-block {
        &__item {
          width: (100%/2);
        }
      }
    }
  }

  @include media('<sm') {
    &__skills {
      .skills-block {
        &__list {
          margin: 0;
        }

        &__item {
          width: 100%;
          padding: 0;
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 0;
          }

          .skill {
            display: flex;
            align-items: center;

            &__round {
              flex: 0 0 64px;
              margin-bottom: 0;
              margin-right: 16px;
            }

            &__title {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}