.order {
  border: 1px solid $color__gray--4;
  border-radius: 8px;
  @include transitions(border-color, box-shadow);

  &:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px inset $color__primary;

    &:before {
      background-color: $color__primary--lightest;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: calc(100% - 20px);
    transform: translateX(-50%);
    background-color: $color__gray--3;
    height: 6px;
    border-radius: 0 0 6px 6px;
    @include transitions(background-color);
  }

  &__wrapper {
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  &__badge {
    margin-bottom: 8px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: $color__dark;
    margin-bottom: 14px;
  }

  &__list {
    margin-bottom: 29px;
  }

  &__item {
    @extend %flex-middle;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__key {
    font-size: 14px;
    line-height: 1.15;
    color: $color__gray--darkest;
    margin-right: 8px;
  }

  &__val {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
  }

  &__bottom {
    @extend %flex-center-between;
  }

  &__bottom-part {
    font-size: 12px;
    line-height: 1.15;
    color: $color__gray--darkest;
  }

  @include media('<=1200px') {
    &__wrapper {
      padding: 24px;
    }

    &__item {
      flex-direction: column;
      align-items: flex-start;
    }

    &__key {
      margin-bottom: 8px;
    }
  }

  @include media('<lg') {
    &__title {
      font-size: 18px;
    }

    &__item {
      flex-direction: row;
      align-items: center;
    }

    &__key {
      margin-bottom: 0;
    }
  }

  @include media('<sm') {
    &__item {
      flex-direction: column;
      align-items: flex-start;
    }

    &__key {
      margin-bottom: 8px;
    }
  }
}