{% extends "manager/global.html.twig" %}
{% block content %}
    <div class="table_data">
        <div class="table_data_navigation">
            {% include 'parts/paging.html.twig' %}
        </div>
        <table class="table_bordered table_striped">
            <thead>
            <tr>
                <th style="width: 100px">ID</th>
                <th style="width: 100px">
                    Статус
                </th>
                <th>Начало</th>
                <th>Конец</th>
                <th class="action_button_3"></th>
            </tr>
            <tr>
                <th><input data-name="route_id" data-type="filter_value" min="0" type="text"></th>
                <th>
                    <select data-name="route_status" data-type="filter_value">
                        <option value="-1" {% if variables.route_status==-1 %}selected="selected"{% endif %}>Акт</option>
                        <option value="0" {% if variables.route_status==0 %}selected="selected"{% endif %}>Выкл</option>
                        <option value="1" {% if variables.route_status==1 %}selected="selected"{% endif %}>Вкл</option>
                    </select>
                </th>
                <th>
                    <select data-name="route_start" data-type="filter_value">
                        <option value="0">-</option>
                        {% for city in variables.cities %}
                            <option value="{{ city.city_id }}">{{ city.city_title }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select data-name="route_to" data-type="filter_value">
                        <option value="0">-</option>
                        {% for city in variables.cities %}
                            <option value="{{ city.city_id }}">{{ city.city_title }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="action_button"></th>
            </tr>
            </thead>
            <tbody class="table_content">
            {% include 'taxi/manager/routes_table.twig' %}
            </tbody>
        </table>
    </div>
{% endblock %}
