{% set sale_screen = 1 %}
<div class="sale-screen">
  <div class="container">
    <div class="sale-screen__wrapper">
      <div class="sale-screen__title">Передвигайтесь с нами</div>
      <div class="sale-screen__descr">Копите ваши поездки и вы получите 50% скидку на 5ю поездку в подарок. Какой то возможно еще текст описания данной системы скидок.</div>
      <div class="sale-screen__block">
        {% include 'frontend/components/user-profile/user-profile_sale.twig' %}
      </div>
    </div>
  </div>
</div>