<section class="section">

  <div class="section__title">
    {% include 'frontend/components/screen-title/screen-title.twig' with {
      title: 'АРЕНДА АВТО С ВОДИТЕЛЕМ',
      descr: 'У нас только чистые и безопасные автомобили',
      href: '/autopark/'
    } %}
  </div>
  <div class="section__content">
    <div class="container">
      {% include 'frontend/components/screen-slider/screen-slider.twig' with {
        thumb: 'park-thumb',
        list: carsForSlider,
        count: 3
      } %}
    </div>
  </div>
</section>