{% extends "global.html.twig" %}
{% block content %}
{% include 'frontend/components/screen-price/screen-price.twig' %}
<div class="ptb">
    {% include 'frontend/components/screen-callback/screen-callback.twig' %}
</div>
{% endblock %}
