{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
{% import 'frontend/elements/input/input_macro.twig' as Input %}
<div id="modal_research" class="modal mfp-hide modal_thx_sub white-popup animated fast">
    <div class="modal__wrapper">
        <div class="modal__head">
            <div class="modal__close js-modal-close">
                <div class="modal__close-icon">{{ Svg.icon('close', 1) }}</div>
            </div>
        </div>
        <div class="modal__body">
            <div class="modal__smile">
                <div class="feed__smile-img">
                    <picture>
                        <source srcset="/assets/images/static/star-struck.png">
                        <img src="/assets/images/static/star-struck.png" width="72" height="72" alt="">
                    </picture>
                </div>
            </div>
            <div class="modal__title">Супер! Мы подобрали для вас тарифов - 6, с ценой от 500 рублей в месяц и скоростью до 1000  мегабит в секунду!</div>
            <div class="modal__form form">
                <div class="modal__form-item">
                    {{ Input.field('phone', 'Ваш телефон', 1, 0, '', 'field__input_outline', 'tel', 1, '+7') }}
                </div>
                <div class="modal__form-item">
                    <div class="button button_md button_secondary submit">
                        <div class="button__text">показать результаты</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>