{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
{% import 'frontend/elements/input/input_macro.twig' as Input %}
<div id="modal_check" class="modal modal_check mfp-hide white-popup animated fast">
    <div class="modal__wrapper js-search-block">
        <div class="modal__head">
            <div class="modal__title">Проверить покрытие Симферополя по адресу</div>
            <div class="modal__close js-modal-close">
                <div class="modal__close-icon">{{ Svg.icon('close', 1) }}</div>
            </div>
        </div>
        <div class="modal__body">
            <div class="modal__form form">
                <input type="hidden" name="action" value="process_check" class="element">
                <input type="hidden" name="provider_id" value="0"  class="element check-provider-id" >
                <div class="modal__form-item  js-search-block__form-elem js-search-block__form-elem_street">
                    {{ Input.field('street', 'Введите улицу', 1, 0, 'search', 'field__input_sec') }}
                </div>
                <div class="modal__form-item js-search-block__form-elem js-search-block__form-elem_house">
                    {{ Input.field('house', 'Дом', 1, 0, 'search', 'field__input_sec', 'text') }}
                </div>
                <div class="modal__form-item">
                    <div class="button button_md button_danger js-search-providers-submit">
                        <div class="button__text">показать тарифы</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__bottom">
            <p class="modal__descr">
                Введите Ваш адрес и сравните провайдеров своего дома на одной странице. Есть вся информация, необходимая для выбора провайдера: тарифы, качество техподдержки и обслуживания, живой рейтинг провайдеров.
            </p>
        </div>
    </div>
</div>
