{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div id="modal_rating" class="modal mfp-hide modal_rating white-popup animated fast">
    <div class="modal__wrapper">
        <div class="modal__head">
            <div class="modal__title">Составление рейтинга</div>
            <div class="modal__close js-modal-close">
                <div class="modal__close-icon">{{ Svg.icon('close', 1) }}</div>
            </div>
        </div>
        <div class="modal__body">
            <div class="modal__text js-scroll text">
                <p>Рейтинг составляется на основе оценок пользователей о провайдерах, которые выставлены в отзывах. Итоговый балл — соотношение положительных оценок к общему количеству комментариев, с учетом весовых коэффициентов и вероятностной формулы Байеса. Последняя используется, чтобы минимизировать возможные искажения рейтинга провайдеров с небольшим количеством отзывов.</p>
                <p>Как результат — простое соотношение положительных отзывов к отрицательным, уже очищенное от влияния случайных факторов, устаревшей и неточной информации.</p>
                {#<b>Какие критерии влияют на вес конкретного отзыва при расчете общего рейтинга?</b>
                <ul>
                    <li>«Свежесть» отзыва. Поскольку качество предоставления услуг провайдером со временем меняется, недавние оценки влияют на рейтинг намного сильнее, чем старые, которые, соответственно, просто-напросто потеряли актуальность. Наша же цель — составить рейтинг, который будет отражать сегодняшнюю реальность. </li>
                    <li>«Свежесть» отзыва. Поскольку качество предоставления услуг провайдером со временем меняется, недавние оценки влияют на рейтинг намного сильнее, чем старые, которые, соответственно, просто-напросто потеряли актуальность. Наша же цель — составить рейтинг, который будет отражать сегодняшнюю реальность. </li>
                    <li>«Свежесть» отзыва. Поскольку качество предоставления услуг провайдером со временем меняется, недавние оценки влияют на рейтинг намного сильнее, чем старые, которые, соответственно, просто-напросто потеряли актуальность. Наша же цель — составить рейтинг, который будет отражать сегодняшнюю реальность. </li>
                </ul>
                <p>Важно при этом отметить, что и сама шкала рейтинга относительная — ее не стоит воспринимать как абсолют. Так, у провайдера, который находится на первом месте, всегда 100 баллов — рейтинг остальных, соответственно, рассчитывается относительно позиции лидера.</p>
                <p>В основной рейтинг попадают только те компании-провайдеры, которые получили за последний год отзывов больше, чем установлено пороговым значением — все справедливо, оно разное для всех регионов и типов интернета. Остальные — остаются в отборочном туре. Это делается для того, чтобы вам было легче сориентироваться в безграничном поле существующих компаний и выбрать из него действительно достойных и доступных по Вашему адресу провайдеров.</p>#}
            </div>
            <div class="modal__buttons">
                <div class="modal__buttons-elem">
                    <div class="button button_md button_outline_2 popup-open" data-mfp-src="#modal_feed" data-effect="bounceInUp" data-effect-close="bounceOutDown">
                        <div class="button__text">оставить отзыв</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
