{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
{% import 'frontend/elements/input/input_macro.twig' as Input %}
<div id="modal_comment" class="modal mfp-hide white-popup animated fast">
    <div class="modal__wrapper">
        <div class="modal__head">
            <div class="modal__title">Отзыв</div>
            <div class="modal__close js-modal-close">
                <div class="modal__close-icon">{{ Svg.icon('close', 1) }}</div>
            </div>
        </div>
        <div class="modal__body full-comment">

        </div>
    </div>
</div>
