{% set is_home = 1 %}
{% extends "global.html.twig" %}
{% block content %}
    <div class="order-bg">
        <div class="container">
            {% include 'frontend/components/order-block/order-block.twig' %}
        </div>
    </div>
    <div class="ptb pt_150">
        {% include 'frontend/components/screen-park/screen-park.twig' %}
    </div>

	<div class="decor">
		<div class="pt pb screen-md-hide">
			{% include 'frontend/components/screen-about/screen-about.twig' %}
		</div>
	</div>
    <div class="ptb">
        {% include 'frontend/components/screen-callback/screen-callback.twig' %}
    </div>
    {% if where_go or articles %}
    <div class="">
        {% if articles %}
        {% include 'frontend/components/screen-article/screen-article.twig' %}
        {% endif %}
    </div>
    {% endif %}


{% endblock %}


