<div class="passagersSelect">
    <div class="passagersSelect__data">
        <div class="passagersSelect__item" data-title="Взрослые" data-value="0">
            <div class="passagersSelect__left">
                <div class="passagersSelect__title">Взрослые</div>
            </div>
            <div class="passagersSelect__right">
                {% include 'frontend/components/counter/counter.twig' %}
            </div>
        </div>
        <div class="passagersSelect__item" data-title="Дети до 7 лет" data-value="0">
            <div class="passagersSelect__left">
                <div class="passagersSelect__title">Дети до 7 лет</div>
            </div>
            <div class="passagersSelect__right">
                {% include 'frontend/components/counter/counter.twig' %}
            </div>
        </div>
        <div class="passagersSelect__item" data-title="Дети от 3 до 5 лет" data-value="0">
            <div class="passagersSelect__left">
                <div class="passagersSelect__title">Дети от 3 до 5 лет</div>
            </div>
            <div class="passagersSelect__right">
                {% include 'frontend/components/counter/counter.twig' %}
            </div>
        </div>
        <div class="passagersSelect__item" data-title="Дети до 1 годика" data-value="0">
            <div class="passagersSelect__left">
                <div class="passagersSelect__title">Дети до 1 годика</div>
            </div>
            <div class="passagersSelect__right">
                {% include 'frontend/components/counter/counter.twig' %}
            </div>
        </div>
    </div>
    <div class="passagersSelect__close">
        Готово
    </div>
</div>
