<div class="screen-callback">
  <div class="container">
    <div class="screen-callback__wrapper">
      <div class="screen-callback__callback">
        {% include 'frontend/components/screen-callback/callback-block.twig' %}
      </div>
      <div class="screen-callback__registration">
        {% include 'frontend/components/screen-callback/callback-register.twig' %}
      </div>
    </div>
  </div>
</div>