{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="order-map js-map-block">
    <div class="order-block__toggle">
        <div class="link link_underline_hide js-slide-map">
            <div class="link__icon link__icon_2">{{ Svg.icon('eye-close-icon') }}</div>
            <div class="link__icon">{{ Svg.icon('eye') }}</div>
            <div class="link__text">Показать маршрут</div>
        </div>
    </div>
    {% include 'frontend/components/map/map.twig' %}
</div>
