<div class="order-block">
    <div class="order-block__wrapper">
        <div class="order-block__map">
            {% include 'frontend/components/order-block/order-block-map.twig' %}
        </div>
        <div class="order-block__form">
            {% include 'frontend/components/order-block/order-form.twig' %}
        </div>

    </div>
</div>
