<div class="notice-article">
    <div class="container">
        <div class="notice-article__wrapper">
            <div class="text">
                <strong>В стоимость тарифа не входит</strong>
                <ul>
                    <li>Стоимость парковки. То есть пассажир оплачивает любые услуги, связанные с парковкой автомобиля водителя, необходимые для исполнения пожеланий самого пассажира.</li>
                    <li>Стоимость проезда по платной дороге. Оплата производится пассажиром непосредственно перед началом движения по платной дороге. Решение о движении по платной дороге принимает пассажир.</li>
                </ul>
            </div>
        </div>
    </div>
</div>