{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
<div class="screen-about">
  <div class="screen-about__logo">
    {% include 'frontend/components/logo/logo.twig' %}
  </div>
  <div class="screen-about__text">
    <p>Отправляясь в Крым, мечтаете о комфортном и безопасном отдыхе, отличном настроении, экономии времени и материальных средств? Тогда воспользуйтесь такси по Крыму Taxel. </p>
    <p>Наша компания занимается междугородними пассажирскими перевозками по всему полуострову, уже более семи лет. У нас, Вы можете произвести заказ такси в любой район Крымского полуострова — комфортная машина приедет вовремя и оперативно довезет Вас к месту назначения. </p>
  </div>
  <div class="screen-about__bottom">
    <div class="screen-about__button">
      <div class="button button_md button_outline_1 popup-open" data-mfp-src="#modal_order" onclick="ym(70758373,'reachGoal','order_fast')">
        <div class="button__icon">
          {{ Svg.icon('phone', 1) }}
        </div>
        <div class="button__text">быстрый заказ</div>
      </div>
    </div>
  </div>
</div>
