<ol class="form-steps">
  <li class="form-steps__step active" data-id="1">
    <div class="form-steps__badge">
      <div class="form-steps__icon"></div>
      <span class="form-steps__num">1</span>
    </div>
    <div class="form-steps__line"></div>
  </li>
  <li class="form-steps__step" data-id="2">
    <div class="form-steps__badge">
      <div class="form-steps__icon"></div>
      <span class="form-steps__num">2</span>
    </div>
    <div class="form-steps__line"></div>
  </li>
  <li class="form-steps__step" data-id="3">
    <div class="form-steps__badge">
      <div class="form-steps__icon"></div>
      <span class="form-steps__num">3</span>
    </div>
    <div class="form-steps__line"></div>
  </li>
  <li class="form-steps__step" data-id="4">
    <div class="form-steps__badge">
      <div class="form-steps__icon"></div>
      <span class="form-steps__num">4</span>
    </div>
  </li>
</ol>