<div class="partner-block">
  <div class="decor_taxi"></div>
  <div class="container">
    <div class="partner-block__wrapper">
      <div class="partner-block__block">
        {% include 'frontend/components/partner-block/partner-block-descr.twig' %}
      </div>
      <div class="partner-block__block">
        {% include 'frontend/components/partner-block/partner-block-form.twig' %}
      </div>
    </div>
  </div>
</div>