<div class="partner-descr">
  <div class="partner-descr__wrapper">
    <div class="partner-descr__text text">
      <h4>Готовы стать партнером?</h4>
      <p>Обращаем Ваше внимание на правильность и правдивость данных в заполняемой форме. Так как это является первым шагом к сотрудничеству с междугородним такси по Крыму Taxel.</p>
      <p>Наша компания относиться с уважением к каждому потенциальному партнеру и поэтому рассматриваем все предложения и отвечаем на них в кротчайшие сроки.</p>
      <p>С уважением администрация такси Taxel.</p>
    </div>
    <div class="partner-descr__logo">
      <img src="/assets/images/static/logo-2.png" alt="taxel">
    </div>
  </div>
</div>